[2018-09-04 19:11] virkt25 opened #6 "[User] cleanup tests - use data builders"
## Description / Steps to reproduce / Feature proposal

As per https://github.com/strongloop/loopback4-example-shopping/pull/5#discussion_r212258936, refactor the tests for this Component to use [data builders](https://loopback.io/doc/en/lb4/Testing-your-application.html#use-test-data-builders)

## Current Behavior

Does not use data builders

## Expected Behavior

Use data builders in tests

[2018-09-04 19:14] virkt25 opened #7 "[Spike][User] Refactor `password` implementation"
From https://github.com/strongloop/loopback4-example-shopping/pull/5#discussion_r212258028

---

I think this needs some discussion as I'm personally not sure if refactoring `passwords` to it's own table is the best design but agree current design is a bit brittle.

Let's discuss this issue and refine the acceptance criteria.

## Acceptance Criteria

- [ ] Explore a more secure and robust way to s

[2018-09-12 06:10] matejthetree opened #8 "high server vulnerability after npm install"
I cloned 93201921663b375120aed74456648166cf48d3d1

and I get this error in console after doing npm install

[code]

[2018-09-12 15:36] virkt25 commented on #8
What version of Node / npm are you using? Can you try against `master` please and report back.

[2018-09-12 15:39] raymondfeng commented on #8
The example itself has `package-lock.json` disabled. As a result, `npm audit` won't work. You can remove `package-lock=false` from `.npmrc` and try again.

@virkt25 I'm wondering if `package-lock` should be enabled for applications.

[2018-09-12 16:00] raymondfeng commented on #8
See #9

[2018-09-23 04:21] marioestradarosa opened #15 "Suggestion Models in their own files."
To keep it standardized with other **LB4** tutorials and model discovery utility functions, you should place  the two models in their own file.

src/models/shopping-cart-item.model.ts
src/models/shopping-cart.model.ts

[2018-09-24 06:36] hacksparrow commented on #15
Agreed.

[2018-09-24 20:08] virkt25 commented on #8
@matejthetree Now that we have a package-lock.json file for this project, is this issue good to close?

[2018-09-24 20:15] virkt25 opened #17 "Implement skipped tests"
There are 3 tests in `user-order.contoller.acceptance.ts` that are skipped because the underlying features needed haven't yet been implemented.

The missing features are:
- https://github.com/strongloop/loopback-next/issues/1718
- https://github.com/strongloop/loopback-next/issues/100

Once the above have been implemented, the skipped tests should be implemented.

---

- [ ] Implement test titled:

[2018-09-25 08:47] bajtos commented on #17
FWIW, `strongloop/loopback-next#100` is done (but not published to npm yet).

[2018-09-25 19:06] #8 closed

[2018-09-25 22:44] #15 closed

[2018-10-25 17:55] dhmlau opened #22 "Advanced version of shopping app with each component as microservices"
## Background
The repo https://github.com/strongloop/loopback4-example-microservices was initially created to illustrate how microservices can be created using LoopBack 4.

Over time, this repo was not keeping up on the changes as we've moving along.  As a result, it needs to be updated in order to be running again.  Another problem with this repo is that it was created while we're settling on the

[2018-12-01 17:26] Realetive opened #25 "Not Found: har-validator@5.1.2"
[code]

[2018-12-17 21:36] jannyHou commented on #25
Related PR merged :) https://github.com/strongloop/loopback4-example-shopping/pull/27

[2018-12-17 21:36] #25 closed

[2018-12-21 22:35] MemoryChips opened #28 "VS Code Debugger"
# VS Code Debugger Launch Task

Please add a launch.json file with a configured launch task to run the vs code debugger.

[2018-12-23 18:16] MemoryChips opened #30 "mongo url parser fails"
When I try to use a mongo url of the form
[code]
the url parser fails and returns a url object of null. The above format is what mongo Atlas uses to connect to their mongo servers. This error crashes the server. The error occurs whether I escape the characters in the url or not. I am able to connect using my url in my other programs.

[code]

Please fix this or verify that your url parser works co

[2019-01-14 09:01] norricorp opened #31 "will there be documentation for this example"
New to loopback4 (I looked at lb3 and this is very different). Do feel that one issue with lb4 is the documentation; compared to lb3, it is quite sparse and the tutorial is not as thorough. And this shopping example does appear better.
So is the hope that it will become part of the docs? Also if the aim is to teach then docs for it would be so useful.
regards,
John

[2019-01-30 18:50] jannyHou opened #35 "Store hashed password in the login function"
### Description

- [x] Create hashed password for authentication test cases like [this](https://github.com/strongloop/loopback4-example-shopping/blob/master/test/acceptance/user.controller.acceptance.ts#L141) merged as https://github.com/strongloop/loopback4-example-shopping/pull/37
- [x] Extract the hashing function into the utility file, or the service if PR https://github.com/strongloop/loopbac

[2019-01-30 19:39] jannyHou opened #36 "Add logout function to invalidate the accesstoken"
## Description

The logout function for jwt strategy is missing in PR https://github.com/strongloop/loopback4-example-shopping/pull/26, we should add it in the user controller by invalidating the accesstoken.

JWT authentication is stateless, which means the best way to invalidate the accesstoken is removing it from the client side. IMO the best way to invalidate it in a LoopBack app, is to remove

[2019-01-31 18:40] dhmlau commented on #31
@norricorp, thanks for your feedback.  We're using this repo as the proof-of-concept to show how certain things can be done and to identify gaps when implementing this closer-to-real-life application.  Our intent is to add documentation on each feature we implement.

Having said that, our documentation is still evolving. :)  Could you please let us know what kind of tutorials and/or topics you'd l

[2019-01-31 18:57] dhmlau commented on #28
@MemoryChips, would you be interested in submitting a PR?

[2019-01-31 19:06] jannyHou commented on #28
@MemoryChips Something I tried before, may not work out-of-box, feel free to start with it:

[code]

I can help you debug and land the PR.

[2019-01-31 22:00] techaks opened #38 "@hasmany parameter not showing in explorer in new version"
check

there is parameter
[code]

in previous i was able to see in explorer screen but now AFTER UPDATE  IN new version i am not able to see it what is solution to show this

[2019-02-01 08:55] sbacem commented on #31
@dhmlau I think the loopback doc, needs a new design like the site of loopback4.

[2019-02-01 16:57] psaunders opened #39 "Email and Password Validation"
This would be the perfect place to show people how to validate inputs using the methods that are hinted at in the documentation here: https://loopback.io/doc/en/lb4/Parsing-requests.html#request-body

As the flagship example of the framework it doesn't look good having a bunch of old school if statements in the controller method doing validation. Someone who knows what they are doing could easily

[2019-02-01 20:00] jannyHou opened #40 "Refactor authentication util functions into a service"
### Description

We currently keep authentication related util functions in a util file, refactoring them into a service will give us the benefit of dependency injection.

The login service receives UserRepository via DI.

### Acceptance Criteria

- [x] Refactor the authentication related utils into a service class
- [x] The service is injected via DI in controller constructor, and controller func

[2019-02-03 10:39] norricorp commented on #31
A topic much like the one for loopback 3 would be useful. Especially as one could see the differences between lb3 and lb4 (so to get this functionality in lb4 I need to do these things differently).
Users for instance. In lb3, users are built in with auth tokens. That does not seem the case in lb4 so how is that supposed to be handled now.
As a general point, one problem I have with any framework

[2019-02-04 18:39] techaks commented on #38
@jannyHou i have solved this issue

[code]

can u help me in MongoDB aggregation on Loopback 4?

[2019-02-05 05:04] b-admike commented on #38
Yes that is correct, we've removed the `property.array()` call from the `hasMany` decorator in https://github.com/strongloop/loopback-next/pull/2178. Would it help others if we documented this change in behaviour?

[2019-02-05 09:55] techaks commented on #38
Yes will help alot to others. Please help me in mongodb aggregation.

On Tue, Feb 5, 2019, 10:34 Biniam Admikew <notifications@github.com wrote:

[2019-02-06 16:14] jannyHou commented on #39
@psaunders 👍 Good catch.

[2019-02-06 16:34] jannyHou commented on #39
Acceptance Criteria:

- [ ]  Validate password by specifying `minLengh` property for `password` , see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#properties
- [ ] Validate email by specifying `format: email` for `email`, see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schema-object-examples

[2019-02-07 18:03] raymondfeng commented on #28
@MemoryChips Please follow instructions at https://code.visualstudio.com/docs/editor/debugging

[2019-02-07 18:04] raymondfeng commented on #28
Go to `Debug --> Add configurations` will generate the following `launch.json`:
[code]

And it works out of box. Feel free to open an PR.

[2019-02-07 22:08] jannyHou opened #42 "Refactor this example to a monorepo"
### Description

Had a talk with Raymond on https://github.com/strongloop/loopback4-example-shopping/pull/41#discussion_r254339700 and come up with some ideas to restructure this example.

Here is a few points to consider, if team is good with it then we can turn them into acceptance criteria:

- Turn the example into a monorepo
- Switch to the new conversion of test folder `src/__tests__/`
- Impo

[2019-02-08 07:55] bajtos commented on #28
As for debugging tests, you must invoke `_mocha`, not any wrapper (`run-mocha`, `mocha`, etc.)

Alternatively, maybe you can use our `lb-mocha` wrapper if you add `--inspect` or `--inspect-brk` to the arguments? IDK.

@boneskull could you please help us? What is the recommended VSCode configuration for debugging Mocha tests?

[2019-02-08 15:29] jannyHou commented on #35
Closed as https://github.com/strongloop/loopback4-example-shopping/pull/41 finished.

[2019-02-08 15:29] #35 closed

[2019-02-08 16:24] lygstate opened #43 "user-order.controller.ts doesn't auth with @authenticate('jwt')"
user-order.controller.ts doesn't auth with @authenticate('jwt'),
besides, doesn't check the userId
[code]

[2019-02-08 17:50] boneskull commented on #28
It's whatever VSCode gives you by default. I think it's called "Node.js: Mocha Tests" when adding to the array in `launch.json` (not sure if it comes from an extension, or which one).

[code]

[2019-02-08 17:52] boneskull commented on #28
(the `--timeout 999999` is due to a bug in some versions of Mocha, which is fixed in v6; use `--no-timeout` or `-t 0` etc. instead)

[2019-02-09 05:46] mathiasarens commented on #28
@boneskull Ok it works with ${workspaceFolder}/**dist**/test in my configuration.

1. Is there a 'watch' command? I guess you have to run an 'npm build' to get your source code changes.
2. How does the configuration look like if you want to debug a single test case?  "${workspaceFolder}/dist/${relativeFile}" gives you the *.ts file and not the *.js file.

[2019-02-11 10:59] #38 closed

[2019-02-11 11:40] techaks opened #44 "How to find user information with order"
I want to data like below: --

[code]

[2019-02-11 11:42] techaks commented on #44
@dhmlau  help needed

[2019-02-11 11:42] techaks commented on #44
@rmg   @klassicd  @makara @rpeterson  help needed

[2019-02-13 17:53] jannyHou commented on #43
@lygstate

[code]
This is an authorization scenario which we are planning to implement after building the fundamental extensible authentication system.

[2019-02-15 00:54] lygstate commented on #43
@jannyHou Sounds great, what's I can help.

[2019-02-15 03:53] dhmlau commented on #30
@MemoryChips, I believe this is related to this on-going PR: https://github.com/strongloop/loopback-connector-mongodb/pull/497.

[2019-02-15 04:01] dhmlau commented on #36
Maybe I'm missing something, I'm not sure how the access token can be invalidated by removing it from the client.  The application and LB has no control on the client side, so it cannot be the way to invalidate the token.

Is it possible to have an expiry date/time in the token if we don't have it already?  If the user logs out, the token expiry value will be set to a past time, so that it is alwa

[2019-02-15 07:18] joeytwiddle commented on #36
You can't change the expiry time of a token that has already been issued. Changing anything in the token is essentially issuing a new token. The original token will remain valid (which is troublesome if it has been stolen).

Your concern is shared by others @dhmlau. I have been somewhat convinced by this argument that JWTs are not suitable for sessions: [Stop using JWT for sessions - by joepie](ht

[2019-02-16 17:56] psaunders commented on #39
Yeah you can put this in, but you end up with something pretty huge like this which is what we ended up with:

[code]

It would be good if there was:
1. All the validation stuff added to the object so you could have this in your object class:
[code]
2. An actual request DTO for account (not an account model) because the account model has got (Kind of) validation stuff on it. Seems like having the

[2019-02-20 20:21] dhmlau commented on #36
@joeytwiddle, thanks for your info! Reading into it some more and found this article (https://medium.com/devgorilla/how-to-log-out-when-using-jwt-a8c7823e8a6) as well.  It suggested a few things we could do if we _really_ want to log out:

[2019-02-20 22:44] techaks commented on #44
@dhmlau help please

[2019-02-20 22:56] raymondfeng commented on #44
LoopBack 3.x has the `include` option for `filter` to do what you want. It's not available in LoopBack 4 yet. A workaround is to implement it in the controller similar as https://github.com/strongloop/loopback4-example-shopping/blob/master/src/controllers/user-order.controller.ts#L51.

[2019-02-21 18:23] jannyHou commented on #40
Done.

[2019-02-21 18:23] #40 closed

[2019-02-25 18:43] jannyHou commented on #39
@psaunders

[code]

is exactly what you could do, check the [API doc for decorator requestBody here](https://github.com/strongloop/loopback-next/blob/master/packages/openapi-v3/src/decorators/request-body.decorator.ts#L20-L79) the decorator infers the property spec when you specify `Account` as the type of your `accountRequest` :)

[2019-02-26 02:33] greenkeeper[bot] opened #53 "An in-range update of @loopback/context is breaking the build 🚨"
## The dependency [@loopback/context](https://github.com/strongloop/loopback-next) was updated from `1.5.1` to `1.6.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fcontext-1.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@l

[2019-02-26 03:14] greenkeeper[bot] opened #54 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `1.5.5` to `1.6.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Frest-1.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopbac

[2019-02-26 16:21] jannyHou commented on #43
@lygstate Thank you for being interested to help!

The story that tracks this change is https://github.com/strongloop/loopback-next/issues/1998, we are planning to add some abstractions in `@loopback/authentication` module then refactor this example repo to leverage them.
I will let you know if we decide story#1998 can start with the refactor in parallel or before it. And we can help you work on t

[2019-02-26 17:21] bajtos commented on #44
Please follow the discussion in https://github.com/strongloop/loopback-next/issues/1352 for updates about our progress on implementing native support for this feature.

[2019-02-26 17:21] #44 closed

[2019-02-28 15:17] bajtos commented on #43
Before the work on the actual authorization is started, perhaps @lygstate can contribute the authentication changes we left out of February milestone? Cross-posting from https://github.com/strongloop/loopback-next/issues/1998:

[2019-03-02 03:54] greenkeeper[bot] opened #55 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `11.10.2` to `11.10.3`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40types%2Fnode-11.10.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-03-04 19:34] #55 closed

[2019-03-04 20:03] jannyHou commented on #43
@bajtos Yeah sounds good 👍
Hi @lygstate would you be interested to submit a PR according to the description cross posted in https://github.com/strongloop/loopback4-example-shopping/issues/43#issuecomment-468311127?

[2019-03-08 19:06] psaunders commented on #39
Sorry, I am just not finding that to be the case.

https://github.com/psaunders/loopback4-example-shopping/commit/447388d1dc6037758106595ced7fe054b9ee2df5

I swapped the validation out to being on the model and it has no problems with saving non-email addresses and short passwords

[2019-03-12 16:28] greenkeeper[bot] opened #57 "An in-range update of @loopback/service-proxy is breaking the build 🚨"
## The dependency [@loopback/service-proxy](https://github.com/strongloop/loopback-next) was updated from `1.0.9` to `1.0.10`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fservice-proxy-1.0.10).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-03-12 16:35] greenkeeper[bot] opened #58 "An in-range update of @loopback/repository is breaking the build 🚨"
## The dependency [@loopback/repository](https://github.com/strongloop/loopback-next) was updated from `1.1.7` to `1.1.8`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Frepository-1.1.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-03-12 16:43] greenkeeper[bot] opened #59 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `1.0.14` to `1.1.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fboot-1.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-03-12 16:52] greenkeeper[bot] opened #60 "An in-range update of @loopback/authentication is breaking the build 🚨"
## The dependency [@loopback/authentication](https://github.com/strongloop/loopback-next) was updated from `1.0.14` to `1.0.15`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fauthentication-1.0.15).

This version is **covered** by your **current version range** and after updating it in your project **the bu

[2019-03-12 17:13] greenkeeper[bot] opened #61 "An in-range update of @loopback/testlab is breaking the build 🚨"
## The devDependency [@loopback/testlab](https://github.com/strongloop/loopback-next) was updated from `1.0.7` to `1.1.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Ftestlab-1.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-03-12 17:14] greenkeeper[bot] opened #62 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `1.1.7` to `1.1.8`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fcore-1.1.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopbac

[2019-03-22 06:05] #53 closed

[2019-03-22 06:05] #54 closed

[2019-03-22 06:05] #57 closed

[2019-03-22 06:05] #58 closed

[2019-03-22 06:05] #59 closed

[2019-03-22 06:05] #60 closed

[2019-03-22 06:05] #61 closed

[2019-03-22 06:05] #62 closed

[2019-03-22 06:05] greenkeeper[bot] opened #63 "An in-range update of @loopback/repository is breaking the build 🚨"
## The dependency [@loopback/repository](https://github.com/strongloop/loopback-next) was updated from `1.2.0` to `1.2.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Frepository-1.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-03-22 06:06] #63 closed

[2019-03-22 06:07] greenkeeper[bot] opened #64 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `1.1.1` to `1.1.2`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fboot-1.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopbac

[2019-03-22 06:10] greenkeeper[bot] opened #65 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `1.9.0` to `1.9.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Frest-1.9.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopbac

[2019-03-22 06:12] greenkeeper[bot] opened #66 "An in-range update of @loopback/authentication is breaking the build 🚨"
## The dependency [@loopback/authentication](https://github.com/strongloop/loopback-next) was updated from `1.0.16` to `1.0.17`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fauthentication-1.0.17).

This version is **covered** by your **current version range** and after updating it in your project **the bu

[2019-03-22 10:52] austin047 commented on #43
Hello, I am new to loopback4 and github in general.
I have basic knowledge on nodejs and express, i will like to work on this issue. I will be glad if i can get some hints on where to start.

[2019-03-22 14:45] bajtos commented on #43
Hi @austin047, it's great to hear you are interested in helping out!

We have a detailed guide showing how to fork loopback-next repository on GitHub, create a feature branch, etc. see https://loopback.io/doc/en/lb4/submitting_a_pr.html

As for this particular task, you will need to make changes in the following files:
- [src/controllers/user-order.controller.ts](https://github.com/strongloop/loop

[2019-03-24 08:42] austin047 commented on #43
Thanks.

[2019-03-28 15:25] jannyHou opened #68 "Move test files to `src/__tests__`"
## Description

Follow the new file structure discussed in https://github.com/strongloop/loopback-next/pull/2283, move the `/test` folder to `src/__tests__`.

Reference PR: https://github.com/strongloop/loopback-next/pull/2316

## Acceptance Criteria

- [ ] Refactor the test files into `src/__tests__`

[2019-03-28 15:47] jannyHou opened #69 "Add documentation for this example"
## Description

As a demo repository, let's add more documentation about the user scenarios and how to play with the app.

## Acceptance Criteria

Document:

- [ ] the models this example has and how they interact with each other
- [ ] services
- [ ] login system

[2019-04-02 00:15] dhmlau commented on #31
Closing this issue in favor of https://github.com/strongloop/loopback4-example-shopping/issues/69.

[2019-04-02 00:15] #31 closed

[2019-04-04 18:57] emonddr commented on #69
provide nice diagrams for the models involved

[2019-04-05 15:52] greenkeeper[bot] opened #72 "An in-range update of @loopback/context is breaking the build 🚨"
## The dependency [@loopback/context](https://github.com/strongloop/loopback-next) was updated from `1.8.1` to `1.9.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fcontext-1.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@l

[2019-04-05 15:54] greenkeeper[bot] opened #73 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `1.2.1` to `1.3.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fcore-1.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopbac

[2019-04-05 15:56] greenkeeper[bot] opened #74 "An in-range update of @loopback/service-proxy is breaking the build 🚨"
## The dependency [@loopback/service-proxy](https://github.com/strongloop/loopback-next) was updated from `1.1.1` to `1.1.2`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fservice-proxy-1.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build f

[2019-04-05 15:58] greenkeeper[bot] opened #75 "An in-range update of @loopback/repository is breaking the build 🚨"
## The dependency [@loopback/repository](https://github.com/strongloop/loopback-next) was updated from `1.2.1` to `1.3.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Frepository-1.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-04-05 18:09] #64 closed

[2019-04-05 18:09] #65 closed

[2019-04-05 18:09] #66 closed

[2019-04-05 18:09] #72 closed

[2019-04-05 18:09] #73 closed

[2019-04-05 18:09] #74 closed

[2019-04-05 18:09] #75 closed

[2019-04-09 20:16] greenkeeper[bot] opened #77 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `1.3.0` to `1.4.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fcore-1.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopbac

[2019-04-09 20:27] greenkeeper[bot] opened #78 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `1.10.0` to `1.10.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Frest-1.10.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loop

[2019-04-11 14:50] dhmlau opened #79 "Refactor shopping app to use the updated authentication package"
## Description

1. Use the new authentication interface in `authentication` package => #2466
2. Use the updated authentication action in `authentication` package => #2467
3. Use the updated strategy resolver provider in `authentication` package => #2312 && #2467 (The resolver will need to deal with `passport` strategies and `non-passport`) strategies.
4. `/users/login` will continue to be without

[2019-04-11 20:48] greenkeeper[bot] opened #80 "An in-range update of @loopback/openapi-v3 is breaking the build 🚨"
## The dependency [@loopback/openapi-v3](https://github.com/strongloop/loopback-next) was updated from `1.3.4` to `1.3.5`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fopenapi-v3-1.3.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-04-20 23:15] greenkeeper[bot] opened #85 "An in-range update of @loopback/testlab is breaking the build 🚨"
## The devDependency [@loopback/testlab](https://github.com/strongloop/loopback-next) was updated from `1.2.4` to `1.2.5`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Ftestlab-1.2.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-04-21 00:13] greenkeeper[bot] opened #86 "An in-range update of @loopback/authentication is breaking the build 🚨"
## The dependency [@loopback/authentication](https://github.com/strongloop/loopback-next) was updated from `1.1.2` to `1.2.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2F%40loopback%2Fauthentication-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-04-22 21:09] dhmlau commented on #30
@MemoryChips, we've landed the community PR for adding support for `mongodb+srv`. See PR
https://github.com/strongloop/loopback-connector-mongodb/pull/497
As a result, I'm going to close this issue as resolved.  Thanks.

[2019-04-22 21:09] #30 closed

[2019-04-22 22:07] dhmlau commented on #68
Fixed via https://github.com/strongloop/loopback4-example-shopping/pull/84

[2019-04-22 22:07] #68 closed

[2019-04-26 00:40] greenkeeper[bot] opened #88 "An in-range update of @loopback/repository is breaking the build 🚨"
## The dependency [@loopback/repository](https://github.com/strongloop/loopback-next) was updated from `1.5.0` to `1.5.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Frepository-1.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the bui

[2019-04-26 00:41] greenkeeper[bot] opened #89 "An in-range update of @loopback/service-proxy is breaking the build 🚨"
## The dependency [@loopback/service-proxy](https://github.com/strongloop/loopback-next) was updated from `1.1.5` to `1.1.6`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fservice-proxy-1.1.6).

This version is **covered** by your **current version range** and after updating it in your project **t

[2019-04-26 00:41] greenkeeper[bot] opened #90 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `1.2.2` to `1.2.3`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fboot-1.2.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-04-26 00:42] greenkeeper[bot] opened #91 "An in-range update of @loopback/http-server is breaking the build 🚨"
## The dependency [@loopback/http-server](https://github.com/strongloop/loopback-next) was updated from `1.1.14` to `1.1.15`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fhttp-server-1.1.15).

This version is **covered** by your **current version range** and after updating it in your project **th

[2019-04-29 17:39] travis-infosec commented on #36
You can put the invalidated-but-not-expired token JTIs on a REDIS blacklist, with an expiration time of the token's expiry.  This is self-pruning.  Just make sure that none of the systems allow a window after the expiry where they can do stuff.  https://github.com/sirwolfgang/jwt_keeper

[2019-05-04 00:03] greenkeeper[bot] opened #92 "An in-range update of loopback-connector-mongodb is breaking the build 🚨"
## The dependency [loopback-connector-mongodb](https://github.com/strongloop/loopback-connector-mongodb) was updated from `4.1.0` to `4.2.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2Floopback-connector-mongodb-4.2.0).

This version is **covered** by your **current version range** and after updating it in y

[2019-05-06 11:19] renovate[bot] opened #94 "Update Dependencies (Renovate Bot)"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore: lock file maintenance

---
<details><summary>Advanced</summary>

- [ ] Check this box to trigger a request for Renovate to run again on this repository

</de

[2019-05-06 22:45] greenkeeper[bot] opened #96 "An in-range update of @loopback/build is breaking the build 🚨"
## The devDependency [@loopback/build](https://github.com/strongloop/loopback-next) was updated from `1.5.0` to `1.5.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fbuild-1.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2019-05-06 23:04] greenkeeper[bot] opened #97 "An in-range update of @loopback/context is breaking the build 🚨"
## The dependency [@loopback/context](https://github.com/strongloop/loopback-next) was updated from `1.12.0` to `1.12.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fcontext-1.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-05-06 23:37] greenkeeper[bot] opened #98 "An in-range update of @commitlint/config-conventional is breaking the build 🚨"
## The devDependency [@commitlint/config-conventional](https://github.com/conventional-changelog/commitlint) was updated from `7.5.0` to `7.6.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40commitlint%2Fconfig-conventional-7.6.0).

This version is **covered** by your **current version range** and after upd

[2019-05-07 00:19] greenkeeper[bot] opened #99 "An in-range update of @commitlint/cli is breaking the build 🚨"
## The devDependency [@commitlint/cli](https://github.com/conventional-changelog/commitlint) was updated from `7.5.2` to `7.6.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40commitlint%2Fcli-7.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the b

[2019-05-07 01:47] greenkeeper[bot] opened #100 "An in-range update of @commitlint/travis-cli is breaking the build 🚨"
## The devDependency [@commitlint/travis-cli](https://github.com/conventional-changelog/commitlint) was updated from `7.5.2` to `7.6.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40commitlint%2Ftravis-cli-7.6.0).

This version is **covered** by your **current version range** and after updating it in your p

[2019-05-07 10:48] JesusTheHun commented on #79
That would be so awesome if this was released this month ! ♥

[2019-05-08 00:01] greenkeeper[bot] opened #102 "An in-range update of @types/lodash is breaking the build 🚨"
## The devDependency [@types/lodash](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.14.123` to `4.14.124`.

🚨 [View failing branch](https://github.com/strongloop/loopback4-example-shopping/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Flodash-4.14.124).

This version is **covered** by your **current version range** and after updating it in your project **th

[2019-05-08 22:44] gobackhuoxing opened #103 "Login issue: different user can use the same email."
I can create different users with the same email. Because users are using email for login, that could be a problem.

Example:
I create two users with the same email but different password:
[code]

Then I can only login as the first user. If I try the second user's password, I get UnauthorizedError:

[code]
The second user can never login.

[2019-05-09 13:46] bajtos commented on #79
@emonddr you may want to revive this pull request to upgrade example-shopping to v2 of our authentication module: https://github.com/strongloop/loopback4-example-shopping/pull/114 You can also run `git chery-pick 85098b6a` to add the commit from that pull request into your feature branch implementing the necessary changes and refactorings.

[2019-05-09 13:52] #77 closed

[2019-05-09 13:52] #78 closed

[2019-05-09 13:52] #80 closed

[2019-05-09 13:52] #85 closed

[2019-05-09 13:52] #86 closed

[2019-05-09 13:52] #88 closed

[2019-05-09 13:52] #89 closed

[2019-05-09 13:52] #90 closed

[2019-05-09 13:52] #91 closed

[2019-05-09 13:52] #92 closed

[2019-05-09 13:52] #96 closed

[2019-05-09 13:52] #97 closed

[2019-05-09 13:52] #98 closed

[2019-05-09 13:52] #99 closed

[2019-05-09 13:52] #100 closed

[2019-05-09 13:52] #102 closed

[2019-05-10 00:12] dhmlau commented on #103
@b-admike, I'm assigning this to you since you're looking into it.

[2019-05-21 18:51] jannyHou commented on #79
🎉 PR merged.

[2019-05-21 18:51] #79 closed

[2019-05-26 09:37] dougal83 commented on #103
@gobackhuoxing You would probably be advised to make email unique on the [user model](https://github.com/strongloop/loopback4-example-shopping/blob/1ec2d9166d813ac771fa14920553daae8bc71455/packages/shopping/src/models/user.model.ts#L17) (add unique: true,).  The create user function on the user controller will throw a constraint error on duplicate email and you'll not have the highlighted issue.

[2019-06-06 02:06] dhmlau commented on #69
@emonddr, i believe this is very much related to your tutorial. https://github.com/strongloop/loopback-next/pull/3046

[2019-06-06 16:12] jannyHou commented on #28
I believe it's been added in https://github.com/strongloop/loopback4-example-shopping/pull/29.
Closing the issue. Feel free to open it if you still have questions. Thanks.

[2019-06-06 16:12] #28 closed

[2019-06-10 17:31] dhmlau commented on #36
Discussion with @raymondfeng @jannyHou @emonddr:
In logout endpoint to call the invalidate function, we can make the invalidate pluggable (expose as extension point) for users to implement themselves. We're not going to provide a generic implementation for invalidating tokens.

[2019-06-10 19:59] dhmlau commented on #36
Since making validate/invalidate tokens pluggable is in `loopback-next` and we have a similar issue https://github.com/strongloop/loopback-next/issues/2057 to keep track of it.  I'd like to close this issue in favor of https://github.com/strongloop/loopback-next/issues/2057. Please continue the discussion over that. Thanks.

[2019-06-10 19:59] #36 closed

[2019-06-11 14:40] Shadsa opened #157 "Integration of the user authentification not replicable"
Hi Loopback team,

We are working on an API using the LB4 version, and we are working on an LDAP authentication. I already see that no LDAP packages are up, so I'm trying to build a work around based on the JWT auth show in this example.

So far the integration work perfectly, since I just have to copy a bunch of services, auth-strats, and the user model/controller (I'm skipping the repo, since I'

[2019-06-12 14:52] emonddr commented on #157
@Shadsa ,

I ran into the ` 'this' is not assignable to parameter of type 'Context'.` problem one day (before this application was complete, and before updates to @loopback/authentication was officially released) and I was using the `npm link` command to link to create links from the shopping application dependencies to a different directory containing the latest code for the authentication packag

[2019-06-12 14:57] emonddr commented on #157
Be sure to grab the latest @loopback/authentication package.

[2019-06-13 08:15] Shadsa commented on #157
@emonddr Thanks for your tip, I will give it a try. As information, we have commented this line of code, and the application seems running perfectly fine, with a fully functional LDAP authentication. So I'm really curious about it function : What does this line do exactly ??

[2019-06-13 08:31] Shadsa commented on #157
The` npm run build` throw me another stuff while building the app.

![image](https://user-images.githubusercontent.com/12796289/59416702-32fd1a80-8dc6-11e9-9dfc-8e23dfd60827.png)

So far, the app still work despite this error (and work perfectly, no error at all). This error start showing sudenly, despite the fact that this code was not touch for a month, and with no error at all at this moment.

[2019-06-13 09:27] Shadsa commented on #157
Okay, so I have successfully patch all this stuff, and here is the result :

- My original issue with the line was fixed by @emonddr 's solution. Thank you !
- The second issue can be fix with a force-cast in the .find, like this : .find(<Filter>land>>filter).
 But I can make a proper Land Filter, or I cannot access nested properties of the Land.

[2019-06-13 12:23] emonddr commented on #157
:)

[2019-06-13 14:15] #157 closed

[2019-06-18 08:06] #103 closed

[2019-06-19 07:33] markus-hsk opened #167 "After implementation app is not starting anymore but without any errors"
I tried to implement JWT in my application and followed the steps described here: https://loopback.io/doc/en/lb4/Authentication-Tutorial.html After finishing, i had this problem: https://github.com/strongloop/loopback4-example-shopping/issues/157 I think, i solved it by upgrading the packages. But now, the problem is, that the application does not start anymore.

Then I run `npm start`, i see that

[2019-06-19 16:52] dhmlau commented on #167
@emonddr , could you PTAL? Thanks.

[2019-06-24 18:17] emonddr opened #175 "Update package.json and package-lock.json to remove passport references"
This application depends on @loopback/authentication package.

Just recently, the passport adapter was moved into its own package : @loopback/authentication-passport  .

All references to passport in @loopback/authentication was recently removed in PR
https://github.com/strongloop/loopback-next/pull/3224 . Once this change is released, then this shopping cart example's package.json and package-loc

[2019-06-24 18:25] emonddr commented on #175
https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/package-lock.json

[code]

[2019-06-24 18:27] emonddr commented on #175
In  https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/package.json

we need to remove

[code]

[2019-06-25 18:03] dhmlau commented on #175
Putting the estimate as 1 because the effort is small and it's more time consuming to go through the estimation process. :)

[2019-06-26 13:21] markus-hsk commented on #167
Hey, do you have any suggestions for me?

As far as i can tell, the main-function in the src/index.ts is not called anymore. I can put a console.log outside the main function and get the output. But if I put the console.log at the beginning of the main-function, i don't get the message. I don't know the reason why, but it seems to me, that this is the problem.

![Clipboard04](https://user-images.g

[2019-06-27 19:55] dhmlau commented on #42
This repo is now a monorepo. Closing it as done.

[2019-06-27 19:55] #42 closed

[2019-06-28 23:40] #69 closed

[2019-07-01 09:12] huynhhq opened #187 "Registering the Custom JWT Authentication Strategy"
I have followed and created JWTAuthenticationStrategy like strongloop/loopback4-example-shopping. But I can not register my custom Strategy.

My code:
import {BootMixin} from '@loopback/boot';
import {ApplicationConfig, BindingKey} from '@loopback/core';
import {
RestExplorerBindings,
RestExplorerComponent,
} from '@loopback/rest-explorer';
import {RepositoryMixin} from '@loopback/repository';
imp

[2019-07-01 23:20] dhmlau commented on #187
@emonddr , could you please take a look? Thanks.

[2019-07-01 23:21] dhmlau commented on #187
@huynhhq, looks like you've created another issue in the `loopback-next` repo.
Closing as duplicate of https://github.com/strongloop/loopback-next/issues/3281. Thanks.

[2019-07-01 23:21] #187 closed

[2019-07-16 16:49] emonddr commented on #167
@markus-hsk , apologies for the late reply.

Without any authentication code, does your application run?

And does it only stop running properly once you tie in your new sequence, your authentication strategy, load the authentication component, and decorate one REST endpoint?

If you provide a url to a github repo we can look at it.

Yesterday I created a fresh LB4 application using @loopback/auth

[2019-07-16 16:52] emonddr commented on #167
Also try running `npm run build` and then `npm run lint` to flush out any issues.

[2019-07-16 16:57] emonddr commented on #167
Put a breakpoint in your
<your project>/index.js .

My index.js looks like this:

[code]

[2019-07-19 08:41] markus-hsk commented on #167
Hello @emonddr,
thanks for your reply - reason found! Your last comment made the point. The typescript watchdog of my development environment refactored the index.js file. I've never registered, that the .js file might be corrupt. Reverted it to what you posted and it works like it should!!

[2019-08-01 01:57] dhmlau commented on #175
@emonddr, is this done?  I saw the PR #191 has merged. Thanks.

[2019-08-01 02:52] #175 closed

[2019-08-01 02:52] emonddr commented on #175
yes it is done. thx. :)

[2019-08-08 17:15] MAHOSSAN opened #234 "Lack of description"
Can you please add more details about adding controller, data migration, creating table into database. Most importantly I downloaded the project and tried to run it. I was getting errors npm cli not found. Module not found

[2019-08-08 23:36] dhmlau commented on #234
@MAHOSSAN, thanks for pointing it out.
I think the [Installation section ](https://github.com/strongloop/loopback4-example-shopping#installation) of the README should be updated since we've changed it to use monorepo.  To start, you'd need to start to run `npm start` for both packages `shopping` and `recommender`.

For creating table, since we're using mongodb, so there's no need to create the tab

[2019-08-09 15:14] MAHOSSAN commented on #234
I followed the instructions from installation section but I want to know where is html for rendering shopping cart page . How did you add the controller and service . For example when you add controller you have two options rest or empty . What was repositiory for adding controller??
I got the error when I run the project the node module not found .. what is solution of this error ..

[2019-08-10 02:07] MAHOSSAN opened #235 "Error: Cannot find module 'C:\node_modules\npm\bin\npm-cli.js'"
I download this project and tried to run it but i am getting following errors ..
C:\Users\Khundokar Nirjor\Desktop\loop4\loopback4-example-shopping> npm start

internal/modules/cjs/loader.js:628
    throw err;
    ^
Error: Cannot find module 'C:\node_modules\npm\bin\npm-cli.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:625:15)
    at Function.Module._load (internal/mo

[2019-08-10 02:36] dhmlau commented on #167
Closing as resolved.

[2019-08-10 02:36] #167 closed

[2019-08-10 02:43] dhmlau commented on #235
@MAHOSSAN, I followed the instruction in the `Installation` section to install dependencies and start the application and it seems to be working fine.  Here is what i did:
[code]

Looking at your error, I found this thread https://github.com/nodejs/help/issues/1618 that might be able to help you. At the end of the discussion, someone says:

So you might want to give it a try.

[2019-08-10 02:44] dhmlau commented on #234
It seems like the instruction in the `Installation` section is correct.  And you have a more descriptive issue https://github.com/strongloop/loopback4-example-shopping/issues/235.  So I'd like to continue the discussion over in #235 and closing this ticket. Thanks.

[2019-08-10 02:44] #234 closed

[2019-08-10 03:07] MAHOSSAN commented on #235
for me its not working

[2019-08-11 07:12] nflaig opened #236 "User model setting to make the email unique is not working"
## Description
The email address should be unique for each user which ought to be enforced by [user model setting](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/models/user.model.ts#L10). However, it is possible for me to create multiple users with the same email address. I also noticed this issue with another LB 4 application I am currently developing.

[2019-08-12 01:30] dhmlau commented on #236
@jannyHou, could you please take a look? Thanks.

[2019-08-12 01:32] dhmlau commented on #235
are you using `nvm` to install Node.js?  If not, we'd recommend you to do so to isolate some of the environment issues.

[2019-08-16 14:55] zzhenryquezz commented on #236
I change this line in the user controller and work normaly this way, i don't know if is because i using postgres but the error code was diferent and don't have the field errmss so the if state it was never true

[code]

[2019-08-16 15:42] nflaig commented on #236
@zzhenryquezz yes, it is a mongodb specific error it won't work with any other database and currently also not with mongodb as it seems.

[2019-08-29 12:51] nflaig commented on #236
@dhmlau Any progress on this?

[2019-09-01 05:27] rsa408 opened #256 "My first project fails in any way"
Hi
I used the following steps to create a project to test it

**lb4 test**
? Project description: test
? Project root directory: test
? Application class name: TestApplication
? Select features to enable in the project (Press <space> to select, <a> to toggle all, <i> to invert selection)Enable e
slint, Enable prettier, Enable mocha, Enable loopbackBuild, Enable vscode, Enable docker, Enable reposi

[2019-09-02 21:03] dougal83 commented on #236
@nflaig Hi Nico, can you confirm that you ran the [migrate script](https://github.com/strongloop/loopback4-example-shopping/blob/428b828a4ad3e47803260ac14264fe6bff97847f/packages/shopping/package.json#L20) on the new db to create the unique index?

[2019-09-02 21:56] nflaig commented on #236
Hi @dougal83,
this seems to fix the issue, thanks. Interesting that no one of the loopback team suggested that.
It is also never mentioned in the readme, so I am wondering where/when this should be run. Doing it manually every time you install the code on a new systems seems wrong maybe it could be put into src/index.ts

[2019-09-02 22:00] dougal83 commented on #236
They are extremely busy.  TBH, I should have spotted this 23 days ago! :)

I recommend that you familiarise yourself with the [migration documentation](https://loopback.io/doc/en/lb4/Database-migrations.html).  Perhaps you could suggest an improvement to this example repos documentation to help others that miss the migration aspect?  I added the script but never thought to add a note.

[2019-09-02 22:11] nflaig commented on #236
To be honest I haven't thought of migration at all to solve this issue because if you use mongoose for example the unique key property just works without it. Another thing is that it worked for me in the past then suddenly stopped working so I thought a dependency update caused the issue.

Since the script is needed for lb4 applications, I would suggest the approach to [auto-update on start](https

[2019-09-02 23:05] dougal83 commented on #256
@rsa408 This is just an example repo so wrong place to post for help.  Try [Loopback repo](https://github.com/strongloop/loopback) or stackoverflow.com.  Please make a git repo to demonstrate the issue as it makes it much easier to quickly spot your issue.

[2019-09-03 09:12] rsa408 commented on #256
Hi
I am appreciated for your response. I am really confused where is my problem. ths over 5 days that I try to find the problem.  I  made a special git repo for this problem([https://github.com/RsaLB4/test](https://github.com/RsaLB4/test))could you please check it? I tried with different datasourcess even memoryDB but in all the ways I got the same result.

sample codes ith memoryDB are working fi

[2019-09-03 14:54] dougal83 commented on #256
The problem is an inconsistency between your model and the user controllers request body where one says include an id and the other says omit the value.  Typically you would not supply an id, so I'd recommend that you set the user model id to be a string(for mongodb) that is not required and generated: true.  This would (after running migrate) allow the database to provide a unique id.

For your p

[2019-09-03 18:32] dhmlau commented on #256
Thanks @dougal83. I've cross-posted your comment in https://github.com/strongloop/loopback-next/issues/3645.  Let's continue the discussion over there (in the right repo).  Thanks!

[2019-09-03 18:32] #256 closed

[2019-09-07 13:57] #236 closed

[2019-09-22 14:01] bizbi opened #281 "Unhandled error in POST /users: 500 MongoError: command insert requires authentication"
The LB4 shopping example uses no mongo credentials or database name:

{
  "name": "mongo",
  "connector": "mongodb",
  "url": "",
  "host": "127.0.0.1",
  "port": 27017,
  "user": "",
  "password": "",
  "database": "",
  "useNewUrlParser": true
}

For production use, I'm trying to adapt this to a named, secured mongo database:

{
  "name": "mongo",
  "connector": "mongodb",
  "url": "mongodb://us

[2019-09-23 14:52] dhmlau commented on #281
@hacksparrow, could you please take a look? Thanks.

[2019-09-23 15:08] bizbi commented on #281
@hacksparrow

FYI, when I just substitute the new mongo credentials into the shopping app, it works fine.  So the problem is something I've not done (or done wrong) in my existing loopback app when I tried to extend it with authentication as follows:

- Copied in authentication-strategies/jwt-strategy.ts
- Copied in controllers/user.controller.ts and added it to controllers/index.ts
- Copied in co

[2019-09-23 15:19] dhmlau commented on #281
Sorry.. I didn't read the description very thoroughly.  Assigning it to @jannyHou @emonddr instead because they're working on the authentication. Thanks.

[2019-09-26 15:52] bizbi opened #288 "Dockerize fails with "Can not read file in context""
Trying to dockerize this example but it fails with "Can not read file in context".

Any ideas?  Help gratefully received.

docker-compose.yml:

    version: '3'
    services:
      loopback:
        container_name: loopback
        build:
            context: .
        ports:
          - 3000:3000
          - 3001:3001
        restart: always`

Dockerfile:

    FROM node:current-alpine

    WORKDI

[2019-09-26 16:31] raymondfeng commented on #288
Please follow https://github.com/strongloop/loopback4-example-shopping/pull/268

[2019-09-27 08:23] bizbi commented on #288
Thanks @raymondfeng. Closing issue.

[2019-09-27 08:24] #288 closed

[2019-10-31 15:56] raymondfeng commented on #22
I have deprecated https://github.com/strongloop/loopback4-example-microservices

[2019-10-31 15:56] #22 closed

[2019-10-31 15:58] raymondfeng commented on #281
@bizbi Can you try to remove `url` property? It's exclusive with other settings.

[2019-11-04 11:38] FSalazarH opened #362 "user-service error in "securityId""
Hi guys, I'm trying to implementate this approach in my own application follow the documentation [here](https://loopback.io/doc/en/lb4/Authentication-Tutorial.html#contributions), so, I'd one error and I don't know why:

In `src/services/user-service.ts:52:13`:

`error TS2418: Type of computed property's value is 'string | undefined', which is not assignable to type 'string'.
  Type 'undefined' is

[2019-11-04 11:59] FSalazarH commented on #362
## Edit:
The error was origin in User Model, in parameter `id`, lb4 as default set the attribute `id?`, which can be undefined or not. So, we ensure that the `id` don't have the option to be undefined, this is donde removing the `?`.

[2019-11-04 11:59] #362 closed

[2019-11-07 17:30] bizbi opened #371 "Mismatch between node/npm/grpc versions"
The application fails to build, with what is apparently a mismatch between node/npm/grpc versions - see below.  What are the recommended versions to use, please?

1986 verbose node v13.1.0
1987 verbose npm  v6.13.0
1988 error code ELIFECYCLE
1989 error errno 1
1990 error grpc@1.21.1 install: `node-pre-gyp install --fallback-to-build --library=static_library`
1990 error Exit status 1
1991 error Fai

[2019-11-07 18:07] raymondfeng commented on #371
Please use node 12 or 10 instead of 13

[2019-11-08 08:22] bizbi commented on #371
@raymondfeng thanks, this worked - closing issue

[2019-11-08 08:22] #371 closed

[2019-11-15 12:19] PhilippeCorreges opened #386 "npm start throws errors"
Hello,
Nodejs has the correct version :

npm i is ok.
npm start throws:
npm start

[0]
[0] > loopback4-example-shopping-monorepo@1.1.1 start:app /Volumes/Data/Projects/WebStormProjects/loopback4-example-shopping
[0] > node ./packages/shopping
[0]
[1]
[1] > loopback4-example-shopping-monorepo@1.1.1 start:recommender /Volumes/Data/Projects/WebStormProjects/loopback4-example-shopping
[1] > node ./pac

[2019-11-15 16:22] dhmlau commented on #386
@PhilippeCorreges, it looks like your redis docker image is not up because it's complaining about port 6379. Looking at the docs https://loopback.io/doc/en/lb4/Authentication-Tutorial.html#try-it-out, it says:
[code]

Did you run `npm run docker:start` before `npm start`?

[2019-11-18 08:57] PhilippeCorreges commented on #386
hello @dhmlau
Effectively I did not run **npm run docker:start**. Now it works fine.

Thanks for that.

[2019-11-18 11:22] hardikbodar commented on #235
i will some error i am trying to solve but note solve this error please help us...
C:\Users\SARKAR>npm start
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path C:\Users\SARKAR\package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'C:\Users\SARKAR\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A

[2019-11-18 15:51] #386 closed

[2019-11-23 21:00] ferenczcsibiattila opened #407 "I cant"

[2019-11-23 21:01] #407 closed

[2019-12-09 16:05] hacksparrow opened #425 "Website for Shopping App"
In the Shopping App Brainstorming session last week, it was decided that we will upgrade [loopback4-example-shopping ](https://github.com/strongloop/loopback4-example-shopping) to have a corresponding website.

**Acceptance Criteria**

- [x] [Authentication and authorization clean up](https://github.com/strongloop/loopback4-example-shopping/issues/432)
- [x] [CRUD operations on shopping carts](htt

[2019-12-09 18:18] dhmlau commented on #425
Let's move it to the `loopback4-example-shopping` because we'll be implementing the frontend in here.

[2019-12-15 02:47] dhmlau opened #432 "Authentication and Authorization clean up"
The authentication and authorization example in the code is confusing and leads to many questions. Update the example to:

- [x] Get rid of CASBIN and show a custom implementation of authorization rules
- [x] Use the user id as the unique identifier while enforcing authorization
- [x] Update the corresponding tests

---
ORIGINAL DESCRIPTION

In the discussion with @emonddr, it seems like we don't

[2019-12-16 14:20] emonddr commented on #432
The current obstacle is that the current shopping example app uses a specific user model
https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/models/user.model.ts#L24
which has id, firstName,lastName, email, password etc.

The user logs in with email id and password.  So the uniqueness of user is determined by email.

Before a JWT token is created, we convert

[2019-12-16 14:47] emonddr commented on #432
The authorization mocha tests use different user objects

https://github.com/strongloop/loopback4-example-shopping/blob/99dee871fdb3a7077142d1f8b9ee7aa92f4a773e/packages/shopping/src/__tests__/acceptance/authorization.acceptance.ts#L19

[code]

than

the authentication tests

https://github.com/strongloop/loopback4-example-shopping/blob/99dee871fdb3a7077142d1f8b9ee7aa92f4a773e/packages/shopping/sr

[2019-12-16 19:24] dhmlau commented on #432
Discussed with @bajtos, we think this should be done before we start adding the frontend.

[2019-12-18 12:39] hacksparrow opened #439 "Shopping App Website: View products"
Part of https://github.com/strongloop/loopback4-example-shopping/issues/425.

**Acceptance Criteria**

- [x] Basic infrastructure of the web site
- [x] 15 pre-populated products
- [x] Show products on landing page
- [x] Click on a product to see the details

[2019-12-18 12:40] hacksparrow opened #440 "Shopping App Website: CRUD operation on products"
Part of https://github.com/strongloop/loopback4-example-shopping/issues/425.

Products can be added only by accounts with "admin" role.

**Acceptance Criteria**

- [ ] Create new product
- [ ] Update product
- [ ] Delete product

[2019-12-18 12:42] hacksparrow opened #441 "Shopping App Website: Order products"
Part of https://github.com/strongloop/loopback4-example-shopping/issues/425.

**Acceptance Criteria**

- [x] Pre-populated users
- [x] Authentication
- [x] Order products
- [ ] View orders

[2019-12-18 12:43] hacksparrow opened #442 "Shopping App Website: Product recommendation"
Part of https://github.com/strongloop/loopback4-example-shopping/issues/425.

Based on order history, show similar products to user.

**Acceptance Criteria**

- [ ] Show product recommendations

[2019-12-18 12:44] hacksparrow opened #443 "Shopping App Website: Persona"
Part of https://github.com/strongloop/loopback4-example-shopping/issues/425.

**Acceptance Criteria**

- [x] Add customer support persona
- [x] Customer support persona can access user orders
- [x] Add admin persona
- [x] Admin persona can access user orders
- [ ] Admin persona can add products

[2019-12-19 02:46] #17 closed

[2019-12-19 02:47] dhmlau commented on #7
Closing due to inactivity. Authentication has changed quite a bit in the past year.

[2019-12-19 02:47] #7 closed

[2019-12-25 13:16] baltameme opened #451 "Failure in the login process"
I am trying to run the sample project, where I made a successful registration for new user:
{
  "email": "user1@example.com",
  "password": "thel0ngp@55w0rd",
  "firstName": "User",
  "lastName": "One"
}

but when I try to login with the credentials of the same user i get the error on below:

{
  "error": {
    "statusCode": 401,
    "name": "UnauthorizedError",
    "message": "Invalid email or pa

[2019-12-25 23:20] v-andrew opened #452 "`npm test` fails with timeout"
To reproduce, run the following commands:
- `git clone https://github.com/strongloop/loopback4-example-shopping`
- `cd loopback4-example-shopping`
- `npm install`
- `npm test`

It fails with:
[code]

[2019-12-25 23:41] dougal83 commented on #452
Hi Andrew
Do you have [Docker](https://docs.docker.com/install/) installed?

[2019-12-27 12:18] dougal83 commented on #451
Hey @baltameme

I've just tried your example and can confirm that the example code behaves as expect for me.  Could you double check on your end in case it was a typo?

[code]

Tested:
[code]
Response: (200 OK)
[code]

[2019-12-28 08:15] baltameme commented on #451
Hi @dougal83
Thanks for your reply.

I verified it again the repo is also on the master branch. what i have noticed as a pattern is that if i try those credentials:
{
  "email": "user1@example.com",
  "password": "thel0ngp@55w0rd"
}

then it does not work but if i submit another sample credentials like this one, then it works smoothly:
{
  "email": "basel@example.com",
  "password": "12345678"
}

[2019-12-28 08:22] baltameme opened #456 "How can I build reset password functionality in Loopback 4"
Hi,

There any built-in component that can help in building the reset password functionality inside Loopback 4 user management?

[2019-12-28 08:43] dougal83 commented on #451
Hey @baltameme, I suppose the next step is to clear your database and try again.

[2019-12-30 17:54] JaredTheGreater opened #459 "App fails on launch (lb-tsc)"
Hello,

I've been having difficulty launching this example app. I'm using an Ubuntu server and following the guide as closely as I can. I admit I'm not an experienced NodeJS dev. Please find the error and environment details below. Any assistance is very much appreciated:

Node: v12.14.0
NPM: 6.13.4
Command: sudo npm start
Error:

src/__tests__/integration/recommender-grpc.integration.ts(7,43): er

[2019-12-30 18:06] hacksparrow commented on #459
Run `npm i` in the project directory. Also, you will need to have MongoDB and Redis instances running.

[2019-12-30 18:26] JaredTheGreater commented on #459
Thanks, @hacksparrow for your quick response. I did run the `npm i` command as you suggested and received the following:
[code]
The npm warning looks important, but I don't really understand it (especially the "wd" argument, it's a valid directory). Any insights? Is this why I'm not able to solve the issue?

I also ensured I had MongoDB installed (which I didn't apparently as it installed quite a

[2019-12-30 18:56] JaredTheGreater commented on #459
Hello @hacksparrow. I believe I might have resolved this issue. It seems there are notorious issues with running npm with the `sudo` command. I googled the npm warning type and learned about an `npm install` flag called `--unsafe-perm` that will assist with this npm issue (https://stackoverflow.com/questions/18136746/npm-install-failed-with-cannot-run-in-wd). When I ran the `sudo npm install --uns

[2019-12-30 18:56] #459 closed

[2020-01-01 06:21] hacksparrow commented on #456
We don't have a built-in feature component, it can be done at the controller level too. Will add one in the example app later.

[2020-01-01 06:28] hacksparrow commented on #451
This is caused by a bug in the official MongoDB connector, they run `encodeURIComponent` on the credentials, but don't run `decodeURIComponent` before sending them to the database server. For now, just avoid special characters like `@`.

[2020-01-01 06:28] #451 closed

[2020-01-01 12:07] baltameme commented on #456
Thanks @hacksparrow for replay. what about the logout functionality? is it the same thing if so. Could you please, share some resources about the best practices for invalidating JWT tokens especially if you are dealing with MongoDB, Typescript and Loopback 4?

[2020-01-01 12:54] hacksparrow commented on #456
JWT is a self-contained self-validating token, it cannot be invalidated by any system. It becomes invalid if it is tampered with or reaches its expiry date.

To "log out" the user, just delete the token from the client. However, if there is a copy of the token elsewhere, it will continue to work till the expiry date.

More about JWT invalidation:

- http://cryto.net/~joepie91/blog/2016/06/13/stop-

[2020-01-01 16:52] dougal83 commented on #456
@baltameme I made an example a while ago combining Loopback 4 & Angular that encompasses a typical [client logout function](https://github.com/dougal83/lb4-ng-example/blob/ad6d7fe9268e1a4ea4f453f726e512e7d238a888/client/src/app/services/auth.service.ts#L66).

I'm going to create an example(WIP) combining Loopback 4 and Angular that will include user registration and password reset involving email

[2020-01-01 19:24] dougal83 commented on #452
@raymondfeng Hi Raymond, I'm getting the same error below on Win 10 and Ubuntu 19.  Do you have any ideas?

[code]

[2020-01-02 14:08] baltameme commented on #456
Cool, thanks @dougal83 so much.

[2020-01-02 14:08] #456 closed

[2020-01-08 14:47] RipkensLar commented on #452
Experiencing the same error.

[2020-01-08 16:01] jannyHou commented on #281
@bizbi

The log implies error may come from your credentials, the "authentication" above should be the mongodb database's authentication, not from the example's auth system.

Could you try Raymond's comment in https://github.com/strongloop/loopback4-example-shopping/issues/281#issuecomment-548445180?

And also try remove `"lazyConnect": true,`

[2020-01-08 17:17] dhmlau commented on #452
I'm using MacOS, and it seems to be working fine for me. @hacksparrow, since you're actively working on this repo, do you have some insights on this? Thanks.

[code]

[2020-01-09 14:33] hacksparrow commented on #452
Hard to tell without a Windows machine.

[2020-01-11 16:49] dougal83 commented on #452
@hacksparrow Is there anything I can run on Win 10/Ubuntu to give useful diag. info?
If it helps...  https://developer.microsoft.com/en-us/windows/downloads/virtual-machines

@v-andrew I think `Error: connect ENOENT //./pipe/docker_engine` typically means docker is not running.

[2020-01-11 17:52] raymondfeng commented on #452
It requires a docker engine to be running on the Windows machine.

[2020-01-13 13:21] hacksparrow opened #474 "Shopping App Website: CRUD operation on orders"
Part of https://github.com/strongloop/loopback4-example-shopping/issues/425.

Orders are generated when a payment is made for the items in a shopping cart. Payment will be simulated in code, and not require any payment gateway integration.

**Acceptance Criteria**

- [ ] Create new order
- [ ] Update order
- [ ] Delete order

[2020-01-13 13:22] hacksparrow opened #475 "Shopping App Website: CRUD operation on shopping carts"
Part of https://github.com/strongloop/loopback4-example-shopping/issues/425.

**Acceptance Criteria**

- [x] Create new shopping cart
- [x] Update shopping cart
- [x] Delete shopping cart

[2020-01-13 14:30] hacksparrow opened #476 "Shopping App Website: UI testing"
Automated UI testing (https://webdriver.io/ or https://www.cypress.io).

**Acceptance Criteria**

All aspects of the UI interaction and behavior should be covered by a UI testing framework.

[2020-01-13 14:33] hacksparrow opened #477 "Shopping App Website: Installation/setup documentation"
Document clearly how to set up the system and start the app running.
Currently the instructions in the [Installation] section is missing info to get the app up and running.

**Acceptance Criteria**

Should have enough information on getting the app to start successfully.
It needs to include:
- [x] info to get mongodb and redis docker images up and running
- [x] any other step to get things up and

[2020-01-13 14:38] hacksparrow opened #478 "Shopping App Website: cleanup"
Sundry list of tasks for the shopping app.

- [ ] Get rid of jQuery and use native browser APIs
- [x] Use async/await instead of callbacks
- [ ] Use ES6 template literals for templates
- [ ] Inject passwordHasher - https://github.com/strongloop/loopback4-example-shopping/pull/468#discussion_r366646796

Miroslav was considering a build pipeline for the website. However, I am not in favor of it. Let

[2020-01-13 14:44] hacksparrow opened #479 "Shopping App Website: automated API client generation for the frontend"
Quoting @bajtos https://github.com/strongloop/loopback4-example-shopping/pull/468#discussion_r364603261

[2020-01-13 14:52] hacksparrow opened #480 "Add function in user service for adding new users"
Quoting @bajtos https://github.com/strongloop/loopback4-example-shopping/pull/468#discussion_r365295449:

[2020-01-13 14:56] dougal83 commented on #479
@hacksparrow Would you like me to set up an example of the [JavaScript generator](https://openapi-generator.tech/docs/generators/javascript) (or one of the other options)?

[2020-01-13 16:22] dhmlau commented on #439
Since this is already part of PR https://github.com/strongloop/loopback4-example-shopping/pull/468, I'm including this in `2020Q1`.

[2020-01-13 16:22] dhmlau commented on #475
Since this is already part of PR https://github.com/strongloop/loopback4-example-shopping/pull/468, I'm including this in `2020Q1`.

[2020-01-14 13:35] bajtos commented on #478
I think the easiest option is to use Handlebars for templating, see https://handlebarsjs.com. You can add the library to your front-page via a public CDN and it will handle tricky parts of HTML escaping for you.

[2020-01-14 18:39] emonddr commented on #477
The `Try it out` section of [here](https://loopback.io/doc/en/lb4/Authentication-Tutorial.html#try-it-out) explains how to get the dbs running and how to add users, how to get a jwt token for one user, and how to use this token to access an authenticated endpoint.

So the instructions are not missing, they just aren't in the readme, although there is a link in the readme to the document url I ment

[2020-01-15 21:17] dougal83 commented on #452
Resolved Ubuntu issue, not sure what was wrong but tests now run correctly.  Have completely rebuilt VM with 4Gb RAM instead of 2Gb.

[2020-01-15 21:19] dhmlau opened #490 "Shopping App Frontend MVP"
As the MVP for the shopping app frontend, it:
- exposes basic infrastructure of the web site
- has a way to interact with the existing APIs
  - user profile
  - shopping cart
  - order history

[2020-01-15 21:25] dhmlau commented on #479
A reference project from @joschne: https://github.com/joschne/loopback4-example-ngx-sdk.

[2020-01-16 08:51] RipkensLar commented on #452
It would be good to document and/or update the README.md because the installation instructions do not say anything about Docker. I myself never used Docker and I have no idea what I have to do to get this working.

[2020-01-17 10:02] dougal83 opened #494 "`npm i` fails on fresh clone"
Error as follows.

[code]

See also: #459

[2020-01-17 10:13] dougal83 commented on #452
Working on Win 10 via WSL remote console on VSCode.

[code]

Rel: https://github.com/strongloop/loopback-next/issues/4425

[2020-01-18 11:50] vipul23394 opened #496 "[17:17:08] E/configParser - Error message: failed loading configuration file conf"
[17:17:08] E/configParser - Error code: 105
[17:17:08] E/configParser - Error message: failed loading configuration file conf
[17:17:08] E/configParser - Error: Cannot find module 'C:\Users\Vipul\git\ep1\conf'
Require stack:
- C:\Users\Vipul\git\ep1\Easypolicy\node_modules\protractor\built\configParser.js
- C:\Users\Vipul\git\ep1\Easypolicy\node_modules\protractor\built\launcher.js
- C:\Users\Vipu

[2020-01-18 18:28] dougal83 commented on #496
Hi @vipul23394

Was this posted in error to this repository?  I don't see how this is related.

[2020-01-20 10:31] dougal83 commented on #494
Resolved by #500

[2020-01-20 10:31] #494 closed

[2020-01-21 03:38] dhmlau commented on #439
@hacksparrow, since PR https://github.com/strongloop/loopback4-example-shopping/pull/468 has landed, I believe this issue is done? If yes, could you please close it. Thanks.

[2020-01-21 19:59] dhmlau commented on #439
Closing as done.

[2020-01-21 19:59] #439 closed

[2020-01-21 20:00] dhmlau commented on #475
Closing as done.

[2020-01-21 20:00] #475 closed

[2020-01-24 02:09] dhmlau commented on #432
Authorization clean up PR: https://github.com/strongloop/loopback4-example-shopping/pull/502

[2020-01-31 02:40] hacksparrow commented on #432
Fixed via https://github.com/strongloop/loopback4-example-shopping/pull/502

[2020-01-31 02:40] #432 closed

[2020-01-31 12:30] hacksparrow commented on #441
Blocked by https://github.com/strongloop/loopback-next/issues/4547

[2020-01-31 12:31] hacksparrow commented on #474
Blocked by https://github.com/strongloop/loopback-next/issues/4547

[2020-01-31 15:43] hacksparrow commented on #477
Closed via https://github.com/strongloop/loopback4-example-shopping/pull/528.

[2020-01-31 15:43] #477 closed

[2020-01-31 16:21] dhmlau commented on #490
Closing as done.

[2020-01-31 16:21] #490 closed

[2020-02-01 22:53] v-andrew commented on #452
Doesn't work with Docker running

[code]

[2020-02-01 23:14] dougal83 commented on #452
https://github.com/strongloop/loopback-next/issues/4425

[2020-02-02 13:47] #496 closed

[2020-02-14 18:58] mersahin opened #551 "not running docker => mongo and redis OK"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'run',
1 verbose cli   'start:app' ]
2 info using npm@6.13.7
3 info using node@v10.14.1
4 verbose run-script [ 'prestart:app', 'start:app', 'poststart:app' ]
5 info lifecycle loopback4-example-shopping-monorepo@1.1.1~prestart:app: loopback4-example-shopping-monorepo@1.1.

[2020-02-14 22:44] dhmlau commented on #551
@mersahin, could you please provide more information on how you're starting the app?

[2020-02-17 13:19] mersahin commented on #551
I found the solution.
I'm using macOS.
It worked after deleting Docker's certificates and recreating them.

[2020-02-17 13:19] #551 closed

[2020-02-20 19:51] brenly2015 commented on #386
La conexión falla: Error: connect ECONNREFUSED 127.0.0.1:6379
Se reintentará en la siguiente solicitud.
events.js:174
      throw er; // Unhandled 'error' event
      ^

Error: connect ECONNREFUSED 127.0.0.1:6379
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1106:14)
Emitted 'error' event at:
    at RedisDataSource.postInit (/home/brenly/www/ucas/loopback4-example-shopping/packages/sh

[2020-02-23 23:47] dougal83 opened #568 "Extending existing model in controller"
I'm extending a model in the same fashion as below in an old project but having difficulty making it function correctly.  I've updated project dependencies, not sure if I've missed a breaking change though.  However with the change below attempting to add a property and using the new model in the controller request body, the new property is ignored.  Is there anything that I need to check?

https:

[2020-02-24 18:15] #452 closed

[2020-02-24 19:21] dhmlau commented on #39
PR #67 has landed. Closing as resolved.

[2020-02-24 19:21] #39 closed

[2020-02-24 19:23] dhmlau commented on #43
Closing as fixed.

[2020-02-24 19:23] #43 closed

[2020-02-24 19:25] dhmlau commented on #6
Closing due to inactivity.

[2020-02-24 19:25] #6 closed

[2020-02-25 06:32] rv98 opened #574 "The key 'security.user' is not bound to any value in context application"
Unhandled error in POST /login: 500 Error: The key 'security.user' is not bound to any value in context application
    at LbSecondProjectApplication.getBinding (D:\Training\LoopbackProjects\lb-second-project\node_modules\@loopback\context\dist\context.js:433:15)
    at RestServer.getBinding (D:\Training\LoopbackProjects\lb-second-project\node_modules\@loopback\context\dist\context.js:429:33)

[2020-02-25 06:42] #574 closed

[2020-03-13 10:22] Arathy-sivan commented on #39
Hi,
How to 'verify an email' before  registering a user using loopback 4 ?

[2020-03-13 11:32] hacksparrow commented on #39
@Arathy-sivan There are many different ways to achieve that, here's the high level instruction for one:

1. Create an endpoint (eg: `/verify-email`) using a controller for email verification.
2. Create a unique unpredictable hash associated with the user.
3. Email the verification link to the user. `http://example.com/verify-email?hash=2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b98

[2020-03-13 12:10] BIMMITHA-GB commented on #39
I'm new to loopback 4, I have created an api to register the user. But now, I wanted to check whether the email is existing or not and valid ,before the successful registration. How can I resolve it?
Please provide any code for it.

[2020-03-13 12:29] hacksparrow commented on #39
@BIMMITHA-GB you can enforce patter matching in your model property definition as shown in this example https://github.com/strongloop/loopback-next/blob/validation2/docs/site/Validation-REST-layer.md#example3-pattern-in-a-string.

[2020-03-13 12:35] Arathy-sivan commented on #39
Could you please provide the code...

[2020-03-13 13:05] BIMMITHA-GB commented on #39
Thank you for your response, I have checked the entered email is in valid format or not ,and also it exist in MySQL database or not. Now I need to verify the email address . Is there any code available in loopback4?

[2020-03-13 13:12] hacksparrow commented on #39
@BIMMITHA-GB I have shared the high level instruction for doing that in https://github.com/strongloop/loopback4-example-shopping/issues/39#issuecomment-598677958.

[2020-03-17 05:11] abhishek-4 opened #602 "Error: Cannot find module 'C:\Users\a1computer\main'"

[2020-03-17 08:34] dougal83 commented on #602
From the path it appears that you are in a user folder, please ensure you run `npm start` from within the project folder.

If you still have an issue please pay an example of your project as a public git repository and provide a link here. Thanks.

[2020-03-26 12:59] eric-jesover opened #617 "Potential bug in repositories/order.repository.ts"
I think there is a typo in the injected variable for Order in file "repositories/order.repository.ts"

[code]
in DefaultCrudRepository datasource is declare as data**S**ource and public

[code]

in debugger you can see two properties with same value in it

- datasource
- dataSource

[2020-03-26 17:16] #617 closed

[2020-03-27 14:14] MwSpaceLLC opened #620 "MongoDB | Invalid email or password"
The structure are the same at https://github.com/strongloop/loopback4-example-shopping

Hi there! Today an fresh istall of lb4. we used default auth by shopping.
The issue is at login user: `Invalid email or password`

LOCAL MACHINE | *WINDOWS 10 PRO*

The response system when login is:
[code]
The log are set in :

[code]

[2020-03-27 14:21] hacksparrow commented on #620
Can you share a minimal app reproducing the issue?  That way we will be able to find out the cause. It's hard to guess without knowing what other components are involved.

[2020-03-27 14:23] MwSpaceLLC commented on #620
Hi there. the app downloaded at https://github.com/strongloop/loopback4-example-shopping

[2020-03-27 14:26] MwSpaceLLC commented on #620
if u want can i provide u access at repo in github

[2020-03-27 14:35] hacksparrow commented on #620
If you have made any changes (however small, apart from `console.log()`)  to https://github.com/strongloop/loopback4-example-shopping, then we'll need to see the whole app to diagnose what's going on.

[2020-03-27 14:42] MwSpaceLLC commented on #620
I have provide u an access for the repo. Sorry but this project is closed to private =)

[2020-03-27 14:47] hacksparrow commented on #620
What you can do is create a subset of your project, which is a minimal app reproducing the problem, without the confidential / proprietary code.

[2020-03-27 14:54] MwSpaceLLC commented on #620
Ok! U can check this on https://github.com/MwSpaceLLC/lb4-starter

[2020-03-27 15:00] hacksparrow commented on #620
When do you get the error? Is it reproducible in https://github.com/MwSpaceLLC/lb4-starter?

[2020-03-27 15:03] MwSpaceLLC commented on #620
yes!

[2020-03-27 15:05] MwSpaceLLC commented on #620
if u download, npm install, npm build and start,

before u must activate local MongoDB on Windows machine, and then create user and try to logged in as same email in creation

[2020-03-27 15:06] MwSpaceLLC commented on #620
Other if want to test with Clusters Mongo Cloud free account

[2020-03-27 15:53] hacksparrow commented on #620
That's happening because the `userId` property of the `UserCredentials` model is being saved as `string` instead of `ObjectId`.

[2020-03-27 15:59] hacksparrow commented on #620
I am taking a look where the data type is getting messed up.

[2020-03-27 16:00] MwSpaceLLC commented on #620
The model parse correct:

[code]

[2020-03-27 16:06] hacksparrow commented on #620
Yes, the model definition is fine. Something's happening in between. Taking a look.

[2020-03-27 18:58] MwSpaceLLC commented on #620
![image](https://user-images.githubusercontent.com/29952045/77790518-46335b00-7065-11ea-9d05-89421ce45e3e.png)

Only four updates... i don't know why auth based work.

Only login not

[2020-03-27 19:04] jannyHou commented on #620
@MwSpaceLLC The auth based endpoints decodes user profile information from the token, they don't lookup the UserCredentials collection.

Therefore doesn't trigger the problem post by @hacksparrow :

[2020-03-27 19:05] MwSpaceLLC commented on #620
yessss... sorry for the inutil questions 😅

[2020-03-27 19:17] MwSpaceLLC commented on #620
![image](https://user-images.githubusercontent.com/29952045/77792037-f1451400-7067-11ea-92cc-e7f3a93fb8fe.png)

If help, in my case i have _id in mongo..

Sorry but with mongo i am new user =(

[2020-03-27 20:18] jannyHou commented on #620
@MwSpaceLLC 😉 your question is valid, the mechanism of authentication sometimes confuses people.

Tested the app based on https://github.com/strongloop/loopback4-example-shopping/issues/620#issuecomment-605075856, add this configuration to your `UserCredentials` model should fix the login:

[code]

[2020-03-27 20:24] MwSpaceLLC commented on #620
Hi there!

![image](https://user-images.githubusercontent.com/29952045/77797448-5c471880-7071-11ea-98f1-65633f33f5e3.png)

Thank you for your support. We want to inform you that we have found the bug.
before reading your reply we have updated the Mongo DB connector to the latest version 5.2.3.
Via Cli the loop4 system does not install the latest version of Mongo DB so this restriction did not work

[2020-03-27 20:39] #620 closed

[2020-03-27 23:31] dhmlau commented on #235
It's been 4 months since the last comment. There have been quite a lot of changes in this repo.
- the structure of the repo has changed. Here is the instruction to set up and run: https://github.com/strongloop/loopback4-example-shopping#installation.
- there's some fixes around running command on Windows. See discussion https://github.com/strongloop/loopback-next/issues/4425.

I'd like to close th

[2020-03-27 23:31] #235 closed

[2020-03-30 08:55] hacksparrow commented on #620
@MwSpaceLLC how did you create the base app which resulted in `loopback-connector-mongodb` being at `4.2.0`? Our repo has it at `5.2.3` - https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/package.json.

[2020-03-30 11:14] MwSpaceLLC commented on #620
Hi There!
Our [lb4-starter](https://github.com/MwSpaceLLC/lb4-starter) is based on [native](https://loopback.io/getting-started.html?#step3) installation.

We implemented the code in the new project manually.

We're not sure what's causing this problem. We ran some tests this morning and everything seems to be working properly.

#### Installation steps for the issue
[code]
#### Popolate model for

[2020-03-30 11:24] MwSpaceLLC commented on #620
Can i also add this. When i create de relation the system put the function in constructor repository with an comma at end of function.

Example:

[code]

##### Open the user repository:

![image](https://user-images.githubusercontent.com/29952045/77907356-ca662800-7289-11ea-8c33-249188a0b4a5.png)

[2020-03-30 11:57] MwSpaceLLC commented on #620
PS: If u want, consider to update the repository from:
`@inject('datasources.mongo') dataSource: juggler.DataSource,`
to:
`@inject('datasources.mongo') dataSource: MongoDataSource,`

For [this package](https://github.com/MwSpaceLLC/lb4-starter/commit/1c90852d11248f63663f7648c603c1f324facf1c) work fine.

[2020-03-30 12:44] hacksparrow commented on #620
@MwSpaceLLC Thanks for your feedback.

That should be not required if you are using the latest version of `5.x`, we added the feature to detect `ObjectID`.

Regarding the trailing comma, it is a code convention we follow.

@jannyHou may be able to give a better answer regarding `juggler.DataSource`.

[2020-04-02 16:04] jannyHou opened #629 "Remove path parameter {userid} from order endpoints"
A follow up story from PR https://github.com/strongloop/loopback4-example-shopping/pull/71

Appreciate @austin047's effort on kicking off the refactor in the original PR and thank you @dougal83 for moving forward on it.

Acceptance Criteria:

- [ ] For endpoints defined in user-ordrer.controller.ts, remove the `{userid}` path parameter, infer the user from user profile(if exists) directly.
- [ ] U

[2020-04-03 09:41] dougal83 commented on #629
@jannyHou for this scenario are we assuming only the user can act on their own behalf?  Regarding best practice... If say, we had an admin acting on their behalf (manually update user order) then we would use endpoints as they are now or would we create separate endpoints for each role? Just curious about how we would go about a different scenario. As this shopping app does not have the admin role

[2020-04-18 02:00] dhmlau commented on #602
Closing due to inactivity.

[2020-04-18 02:00] #602 closed

[2020-04-22 22:31] elloGuy69 commented on #362
This really helped with the headache I was having since I couldn't figure out this weird error. Thank you.

[2020-05-12 12:45] dougal83 commented on #629
@jannyHou The current authorization implementation is [checking the route for resource ownership](https://github.com/strongloop/loopback4-example-shopping/blob/9444829d109b8e6fbbcb216540e7a2cab7d91585/packages/shopping/src/services/basic.authorizor.ts#L63):

[code]
Therefore I don't believe this issue is workable without readdressing resource ownership in the basic authorisation implementation.  P

[2020-05-12 14:24] jannyHou commented on #629
Hey @dougal83 sorry for late replying, recently I am cleaning up the tech debts and making a plan for improvements, which may affect this issue, so we haven't added the criteria for this issue.

Your concern is valid,
[code]
assumes the path contains the id.

Taking `{id}` out of the path is a UX requirement created very long time ago, while we keep adding auth features in this repo it may doesn't

[2020-05-12 14:24] #629 closed

[2020-05-23 02:14] dhmlau commented on #281
Closing due to inactivity

[2020-05-23 02:14] #281 closed

[2020-05-31 02:50] heroca60 opened #724 "jwt-strategy.ts"
@bind(**asAuthStrategy**, asSpecEnhancer)

Argument of type 'BindingTemplate<unknown>' is not assignable to parameter of type 'BindingSpec'.

![Captura realizada el 2020-05-30 20 50 05](https://user-images.githubusercontent.com/16751287/83343412-2adc0a80-a2b7-11ea-8dad-94446522e7cf.png)

[2020-05-31 04:00] raymondfeng commented on #724
Do you see this from a fresh checkout? If not, you seem to have multiple versions of the same module in the dependency tree. Please remove node_modules and run `npm i`. You can also use `lb4 update` to check versions.

[2020-05-31 04:36] heroca60 commented on #724
It is a development that I am running, previously I have already implemented it, but I do not understand why in this project I have the following bug.

[2020-06-07 12:54] Chenjigaram opened #736 "Grpc server connect to Repository"
Hi
I am trying to connect from grpc service to repository, but its showing error

import {repository} from '@loopback/repository';
import {TestRepository} from '../repositories';
export class TestService {

  @repository(TestRepository)
  private testRepository: TestRepository;

  constructor(){}

  getKey: handleUnaryCall<{id: string}, unknown> = (
      call,
      callback,
  ) => {
    let id

[2020-06-19 16:20] jannyHou commented on #724
@heroca60 I cloned the latest code and install&build, the code doesn't have error

<img width="642" alt="Screen Shot 2020-06-19 at 12 14 01 PM" src="https://user-images.githubusercontent.com/12554153/85155187-75053b80-b226-11ea-955a-63d8a1ac239a.png">

Can you provide more info about your environment? I think the best way is a fresh clone of the repo, then install and build the project again.

[2020-06-19 16:50] jannyHou commented on #736
@raymondfeng could you help take a look? Thanks.

[2020-06-25 12:33] anuragyadav-ab commented on #235
internal/modules/cjs/loader.js:969
  throw err;
  ^

Error: Cannot find module 'C:\Users\ANURAG\AppData\Roaming\npm\node_modules\@angular\cli\bin\ng'
[90m    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:966:15)[39m
[90m    at Function.Module._load (internal/modules/cjs/loader.js:842:27)[39m
[90m    at Function.executeUserEntryPoint [as runMain] (internal/modules/run_mai

[2020-06-25 16:14] dougal83 commented on #235
Hi @anuragyadav-ab

I cannot find any issue with cloning this project and running `npm i`, `npm run docker:start` and `npm run start`.  All work as expected.

Please create a new issue and give step by step instruction on how to replicate your problem.

[2020-07-02 14:08] hacksparrow opened #765 "Fix loopback4-example-recommender not found on npm"
Because of the way `loopback4-example-recommender` is configured to be used, we are starting to see errors like this.

[code]

## Acceptance Criteria

- [ ] Find the cause
- [ ] Fix the problem

[2020-07-22 17:37] jannyHou commented on #765
@hacksparrow is this issue still valid? the example seems working fine on my local.

[2020-07-22 17:50] jannyHou commented on #736
@Chenjigaram Could you provide more details of the error and also some sample of how you connect to the grpc service?

This example demos how to create and configure a grpc datasource as in [datasources/recommender-grpc.datasource.ts](https://github.com/strongloop/loopback4-example-shopping/blob/1949352e58c736873bbb4f027f5ea9f9303da25d/packages/shopping/src/datasources/recommender-grpc.datasource.

[2020-07-30 07:22] mrmodise commented on #476
@hacksparrow am interested in working on this. Please advise on next steps.

[2020-07-30 07:38] Chenjigaram commented on #736
Hi @jannyHou

The issue is in Providing gRPC service

[code]

In the TestService handler getTest method I want to use TestRepository to check whether id is present in database or not

[2020-07-30 09:10] hacksparrow commented on #476
@mrmodise basically, we will have to ensure the UI - its appearance and interaction aspect - are working as expected and are not broken by accidental changes.

For eg: if the text was changed to "Lg in" from "Log In", it should be detected; clicking the "Log In" button should log in the user (since the form in pre-filled with working creds); trying to log in with wrong creds should not show the lo

[2020-07-30 12:33] hacksparrow commented on #765
Caused by some config change, Raymond fixed it.

[2020-07-30 12:33] #765 closed

[2020-08-11 16:35] argupta23 commented on #456
@dougal83

Is there an updated example that covers this subject?

Thanks

[2020-08-12 16:58] dougal83 commented on #456
Hi @argupta23 I'm unaware of an updated example for password reset.

Hey @hacksparrow @jannyHou, are there any resources that cover password reset?

[2020-08-13 11:34] hacksparrow commented on #456
Not yet, will open an issue.

[2020-08-13 11:36] hacksparrow opened #818 "Add password reset functionality"
Password reset functionality is a common requirement, let's add it in the example app. Ref: https://github.com/strongloop/loopback4-example-shopping/issues/456.

[2020-08-18 00:48] Chenjigaram commented on #736
Hi @jannyHou @raymondfeng
Any luck in finding a way ?

[2020-08-26 14:21] dhmlau commented on #724
Closing as resolved.

[2020-08-26 14:21] #724 closed

[2020-09-27 19:03] richawasp commented on #235
Hi tried everything but i still giving the same error and the strange part is i have able to launch appium from administrator without any issue but when i try to run from another user which has admin rights giving me an error each time .this is so frustrating ERROR cannot find module main.js  at Function.Module._load (internal/modules/cjs/loader.js:841:27)
    at Function.executeUserEntryPoint [as

[2020-09-28 09:34] dougal83 commented on #235
Hi @richawasp, I'm not sure how your post relates to this repo.  The error here is generic, perhaps you should look for assistance in a Nodejs or 'appium' forum?

[2020-09-30 19:33] rajeshwarsingh commented on #456
@hacksparrow I am also looking for the recover and update profile too, Please help us.

[2020-10-05 19:16] mrmodise opened #879 "Update datasource config from JSON files to Typescript files"
I would like to update the datasources in this example to follow the new config style of using TypeScript files, as per: https://github.com/strongloop/loopback-next/issues/5220

[2020-10-06 06:35] bajtos commented on #879
@mrmodise Let's not create new issues for individual subtasks from strongloop/loopback-next#5220 please, to keep all discussions in a single place. Please go ahead and send a pull request instead 😄

[2020-10-06 06:35] #879 closed

[2020-10-06 08:15] mrmodise commented on #476
Thanks @hacksparrow I have used both and I would recommend Cypress. I can get started right away if you cool with it

[2020-10-06 08:53] mrmodise commented on #818
Will start work on this

[2020-10-06 15:33] hacksparrow commented on #476
@mrmodise that would be great.

[2020-10-06 15:36] mrmodise commented on #476
Cool will send something your way ASAP

[2020-10-06 18:37] dougal83 commented on #476
+1 for Cypress.  Thank you @mrmodise

[2020-10-07 07:40] mrmodise commented on #476
@dougal83 they're coming up really well. Branch: https://github.com/mrmodise/loopback4-example-shopping/tree/feature/automated-ui-tests/packages/shopping/cypress/integration

[2020-10-08 01:33] jannyHou commented on #736
Sorry for replying late, looking.

[2020-10-10 20:23] mrmodise commented on #480
I will like to work on this. Thanks

[2020-10-12 13:48] #818 closed

[2020-10-19 19:17] #480 closed

[2020-10-22 19:58] #476 closed

[2020-10-22 23:19] dhmlau opened #902 "chore: enable renovate automerge for patch/minor versions or devDependencies"
We are using renovate bot to create PRs to help us keeping dependencies updated.
Currently we still need to merge the PR manually. Following loopback-next and loopback.io repos, we can enable automerge  for patch/minor versions or devDependencies (the precondition is CI must be passed).

Please see PR https://github.com/strongloop/loopback-next/pull/6472 for reference.
I've modified the setting of

[2020-10-23 07:27] mrmodise commented on #736
@Chenjigaram here to help. Correct me if am wrong the challenge you are having is using the TestRepository inside your service?

Looking at your code I think the issue is on the binding:

[code]

[2020-10-26 08:34] mrmodise commented on #736
@Chenjigaram is this issue still pending?

[2020-10-26 08:40] mrmodise commented on #478
Just wondering on my end, would using Vue.js or a similar library not make it easy for most people to understand? I just feel handlebars will make it a bit difficult for most to understand due to its lack of documentation compared to newer libraries 😄

[2020-10-26 09:03] dougal83 commented on #478
@mrmodise IMO handlebars focus on templating makes it a good candidate for a simple example. That being said that does not stop any enthusiastic contributor making a package for an alternative front end example. Personally I would like to find enough time to flesh out an angular implementation.

[2020-10-26 11:03] mrmodise commented on #478
I thought Angular would be a NO since its more complex but on a personal level you and I are on the same page. Shameless plug, I prefer Angular 😆

[2020-10-26 11:06] mrmodise commented on #478
I would be that enthusiastic contributor. I just think the newer frameworks will also increase visibility on the project since it will ride off the glory of modern frameworks. We need the numbers 😃

[2020-10-30 14:29] argupta23 commented on #456
@dougal83 @hacksparrow
I have looked at the update that was recently made to loopback-shopping-example related to this request.

Let me clarify what the request was.

The request was for Forgot-Password (Password Reset) where in user does not remember his password. One of the ways to solve this would be for the UI to prompt user to enter "email" and then generate a "Reset Token" in the background

[2020-10-30 14:33] argupta23 commented on #818
@hacksparrow @mrmodise @dhmlau
Please see my comment in #456

Based on my discussion with mrmodise what is implemented here is Change Password.

I think it might help to open another feature to track Password Reset / Forgot Password that implements what I have described. Thoughts and feedback are welcome.

Thanks

[2020-10-30 14:40] mrmodise commented on #456
Hi @argupta23 thanks for looking into this. Please feel free to open a new issue with more details or raise a PR to solve this specific use case. Thanks

[2020-10-30 15:24] dougal83 commented on #456
I think this would also make a good opportunity to make an example of how to send email via a package such as nodemailer.  Alternatively, the example could be demonstrated here within the functionality to reset a password.

[2020-10-30 15:26] mrmodise commented on #456
I don't mind adding to this or creating a new endpoint but it would be best discussed in a new issue

[2020-10-31 00:33] dhmlau commented on #902
Fixed via https://github.com/strongloop/loopback4-example-shopping/pull/912.

[2020-10-31 00:33] #902 closed

[2020-11-01 03:58] smartmouse opened #917 "page not found when click on try it out"
click on try it out
<img width="738" alt="Screen Shot 2020-10-31 at 11 55 34 PM" src="https://user-images.githubusercontent.com/4519627/97794809-eb527b00-1bd4-11eb-8384-aaa598569374.png">
<img width="1467" alt="Screen Shot 2020-10-31 at 11 53 47 PM" src="https://user-images.githubusercontent.com/4519627/97794811-f4dbe300-1bd4-11eb-9fe0-5c904fef64df.png">

[2020-11-05 14:52] johanschvn opened #923 "Shopping App Website: use other hosts than localhost"
The Shopping App Website does not work (e.g. no products are displayed) if you try to run it on other hosts than localhost. In packages/shopping/public/config.js  the base URL of the API is coded as `const apiUrl = 'http://localhost:3000';`. Changing it to `const apiUrl = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');` will make it work even if run on an

[2020-11-05 19:19] johanschvn opened #925 "Make it possible to select JWT secret via environment variable"
I think it would be useful if the loopback4-example-shopping allowed setting the JWT secret via an environment variable.
Today the shopping API/application uses the default secret defined in @loopback/authentication-jwt.
I suggest adding code like this to setUpBindings() in packages/shopping/src/application.ts:
[code]
This code serves both as an example of how to use your own secret with @loopback

[2020-11-05 19:34] mrmodise commented on #925
Thanks for the suggestion. Do you mind putting together a PR for this? I think its a good idea

[2020-11-05 19:35] mrmodise commented on #923
Thanks for the issue. Can you give more insight into what you mean by other hosts please

[2020-11-05 19:41] johanschvn commented on #923
@mrmodise
e.g. if you deploy the application to a server called shoppy.example.com and start it on port 80 and call it from http://shoppy.example.com/
i.e. not running locally on port 3000 and accessing through http://localhost:3000/

[2020-11-05 19:44] mrmodise commented on #923
Okay but that depends on how it's deployed. I think you will have to do the configs at server level to point https://shoppy.example.com to http://localhost:3000. Maybe instead we can add scripts to deploy to different environments instead e.g. AWS, IBM, Heroku. What do you think?

[2020-11-05 20:14] johanschvn commented on #923
@mrmodise the code I want to have changed runs in the browser, not on the server; does not matter how it is deployed as long as you do not change the path part of the URL

[2020-11-05 21:41] dougal83 commented on #923
@johanschvn Would the [rest configuration](https://loopback.io/doc/en/lb4/Server.html#configuration) be something that resolve the issue?

[2020-11-06 00:39] mrmodise commented on #923
aha! does this mean you coupled the UI and the backend?

[2020-11-06 08:26] bajtos commented on #923
Instead of building the URL manually, can we perhaps leverage `url` property of `RestServer`? See https://loopback.io/doc/en/lb4/apidocs.rest.restserver.url.html

[code]

[2020-11-06 10:07] mrmodise commented on #923
@bajtos already using the built-in approach, see: https://github.com/strongloop/loopback4-example-shopping/blob/59472a5c1833a634c4fbf16ee60e0714eb448961/packages/shopping/src/index.ts#L16

This is why i wanted to understand the use case a little bit more

[2020-11-06 10:11] johanschvn commented on #923
@bajtos @mrmodis I do not think app.restServer.url is available in the browser. The code I propose changing is served as a static page from the public directory. As for as I can see no template engine is used; all pages are served as is.
Also, I think app.restServer.url is the url as seen on the server; that is not necessarily the same as seen from the browser (it is not when I run the app on Open

[2020-11-06 10:18] mrmodise commented on #923
Thanks makes sense. I usually prefer decoupled FE from BE so wont be the best person to advise but thanks for raising it. I will look into it

[2020-11-06 10:24] johanschvn commented on #923
@mrmodise do you want me to prepare a PR?

[2020-11-06 10:26] johanschvn commented on #925
I am working on a PR now.

[2020-11-09 17:17] #925 closed

[2020-11-09 17:21] #923 closed

[2020-11-09 18:45] johanschvn opened #935 "How to build and deploy loopback4-example-shopping on OpenShift Container Platform?"
There is currently no instructions for building and deploying on OpenShift Container Platform.
I have start documenting how I do it in https://github.com/strongloop/loopback4-example-shopping/pull/934 .
Is there a better way?
Please comment here or in the PR!

[2020-11-10 15:58] dhmlau commented on #935
@johanschvn, assigning this to you since you have a PR in progress. Thanks!

[2020-11-25 18:55] fishera123 commented on #452
Hi, when I run tests, always getting timeout error.

[code]

[2020-12-10 03:40] mrmodise commented on #736
Closing the issue due to inactivity. Please feel free to open it again if needed. Thanks

[2020-12-10 03:40] #736 closed

[2020-12-26 04:57] mrmodise commented on #440
I will take this. I notice only the UI portion is missing

[2021-01-11 05:18] mrmodise opened #1001 "Remove Appveyor and Travis CI from required pipeline steps"
We have successfully configured Github actions for our CI process. However, builds are failing due to Appveyor and Travis CI. Additionally, we would like to set all the Github actions steps as required for any PR to land

[2021-01-11 12:27] bajtos commented on #1001
Thank you @mrmodise for opening this follow-up issue for your PR https://github.com/strongloop/loopback4-example-shopping/pull/998 that configured GitHub actions.

I edited required checks for `master` branch - removed Travis CI and AppVeoyor, added GHA-powered checks. I also removed webhooks that were triggering AppVeyor and Travis CI builds.

I see that you have already removed `.travis.yml` and

[2021-01-11 13:27] mrmodise commented on #1001
Thanks all good

[2021-01-11 13:27] #1001 closed

[2021-01-13 07:26] mrmodise opened #1003 "Replace Express implementation on recommendation server with LoopBack style implementation of the same"
LoopBack now supports using Express middleware inside of a LoopBack application. Would be nice to demonstrate this use case here rather than use pure Express implementation

@raymondfeng @hacksparrow @jannyHou your thoughts?

[2021-01-13 08:01] hacksparrow commented on #1003
I am fine with keeping it as such, as an example of integrating LoopBack with a non-LoopBack backend.

[2021-01-14 19:59] #1003 closed

[2021-01-26 15:48] bajtos commented on #1001
On the second thought, would you @mrmodise like to update README and replace the badge pointing to Travis CI with a badge for GitHub Actions? See line 3 in https://github.com/strongloop/loopback4-example-shopping/blob/master/README.md

[code]

GitHub Actions badge to use:

[code]

Preview:
![Continous Integration](https://github.com/strongloop/loopback4-example-shopping/workflows/Continous%20Integ

[2021-01-26 15:57] johanschvn commented on #935
My PR is now ready for review.

[2021-01-28 10:14] johanschvn commented on #935
After feedback from @mrmodise I have decided to add more info to README.md.
My intention is to write instructions for how to quickly get the application running on OpenShift for test and demo purpose rather than documenting production best practice.

[2021-02-19 09:09] johanschvn commented on #935
Closing this as my PR has been merged. Instructions are now available in openshift/README.md.

[2021-02-19 09:09] #935 closed

[2021-02-23 15:38] #440 closed

[2021-03-13 06:30] peace195 opened #1081 "Parsing requestBody and Where query.object in wrong order"
Here is the example code: https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/controllers/user-order.controller.ts#L104

How to reproduce the issue:
1. Add `@inject(SecurityBindings.USER) currentUserProfile: UserProfile`
2. Call `PATCH /users​/{userId}​/orders`

Attachment is the code, it swagger and console.
I pass `{"id": 1}` as Where object. `{"total": 100

[2021-06-25 08:12] gangadharsm commented on #235
I got same error, update the node js and angular cli, then this issue is resolved for me.

[2021-07-09 02:00] #442 closed

[2021-07-09 02:00] #479 closed

[2021-07-09 02:00] #443 closed

[2021-07-09 02:00] #425 closed

[2021-07-09 02:00] #441 closed

[2021-07-09 02:00] #474 closed

[2021-07-29 09:21] smithasmi95 opened #1267 "Email validation for createAll method"
Hi All,
the documentation of loopback 4 does not contain validations for createAll method at interceptors. Can anyone guide me on how do we validate for createAll method?

[2021-08-08 02:03] #478 closed

[2021-09-01 15:11] wa1one commented on #39
@hacksparrow  he asked for validation of an email before sign up, and not about verification of email box. This is very basic. Why you didn't implement validation?

[2021-09-29 05:33] mrmodise commented on #1267
@smithasmi95 sorry I don't think I follow as your code snippet does not illustrate any createAll logic

[2022-01-11 18:08] BhagyaLahiru commented on #235
Error: Cannot find module 'C:\Program Files\nodejs\node_modules\npm\bin\node_modules\npm\bin\npm-cli.js'
←[90m    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)←[39m
←[90m    at Function.Module._load (node:internal/modules/cjs/loader:778:27)←[39m
←[90m    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)←[39m
←[90m    at node:inter

[2022-02-11 18:03] anjusm1 commented on #235
Error: Cannot find module 'C:\Project\app.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
  throw err;  ^

Error: Cannot find module 'C:\Project\app.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/